@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Sora", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(220, 220, 220, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  overflow: hidden;
  object-fit: cover;
  transition: transform 800ms;
}

.main {
  display: flex;
  max-height: 800px;
  background-color: blue;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
}
.logo {
  position: relative;
  top: -90px;
  left: -220px;
}
.ui-logo {
  font-size: 20px;
  font-weight: 800;
  color: rgba(67, 67, 67, 1);
}
.form {
  padding: 20px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.form-control label {
  font-size: 13px;
  font-weight: 600;
  color: rgba(100, 100, 100, 1);
}

.form-control small {
  margin: -18px;
  font-size: 13px;
  font-weight: 300;
  visibility: hidden;
}

.form-control input {
  margin-top: 6px;
  background-color: rgba(241, 241, 241, 1);
  display: block;
  border: none;
  border-radius: 7px;
  font-size: 14px;
  padding: 15px;
  width: 325px;
}
.form-control input::placeholder {
  color: rgba(187, 187, 187, 1);
  font-size: 14px;
  font-weight: 200;
}
.form-control i {
  position: relative;
  top: -35px;
  left: 295px;
}
.container1 {
  background-color: rgba(248, 248, 248, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
}
.container2 {
  overflow: hidden;
}
img:hover {
  transform: scale(1.1);
}
.titulo {
  padding-bottom: 30px;
}
.sub {
  font-size: 16px;
  font-weight: 300;
  color: rgba(100, 100, 100, 1);
}
h1 {
  font-size: 38px;
  font-weight: 600;
  color: rgba(67, 67, 67, 1);
}
.re_senha {
  font-size: 12px;
  font-weight: 400;
  color: rgba(97, 51, 197, 1);
  cursor: pointer;
}
.Lembrar {
  font-size: 12px;
  font-weight: 600;
  color: rgba(100, 100, 100, 1);
  padding: 5px;
  cursor: pointer;
}
.checkbox {
  display: flex;
}

.checkbox-box {
  cursor: pointer;
}
.lemb-esq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.buttons {
  cursor: pointer;
}
.button-entrar {
  margin-bottom: 6px;
  display: block;
  color: aliceblue;
  background: #6133c5;
  font-weight: 500;
  font-size: 16px;
  border-radius: 11px;
  border: none;
  width: 325px;
  height: 45px;
  cursor: pointer;
}
.button-criar {
  color: rgba(67, 67, 67, 1);
  font-weight: 500;
  font-size: 16px;
  background: rgba(248, 248, 248, 1);
  border: 2px solid #e7e7e7;
  border-radius: 11px;
  width: 325px;
  height: 45px;
  cursor: pointer;
}

/* | Error and Success | */

.form-control.error input {
  border: 1px solid rgba(253, 62, 62, 1);
}
.form-control.success input {
  border: 1px solid #07b223;
}

.form-control.error small {
  color: rgba(253, 62, 62, 1);
  visibility: visible;
}
.fa-circle-check {
  color: #07b223;
}
.fa-circle-xmark {
  color: rgba(253, 62, 62, 1);
}

/*Mobile test*/

@media (max-width: 835px) {
  body {
    display: block;
    background-color: red;
  }
  .container2 {
    display: none;
  }
  .container1 {
    height: 100vh;
    width: 100vh;
  }
  .logo {
    position: relative;
    top: -70px;
    left: -140px;
  }
}
/*==================================================*/

/*Responsive*/
/*@media only screen and (min-width: 400px) and (max-width: 900px) {
  body {
  }
  .main {
    display: block;
  }
  .container1 {
    height: 100vh;
    width: 100vh;
  }
  .container2 {
    display: none;
    background-color: none;
  }
  img {
  }
}
@media only screen and (min-width: 300px) and (max-width: 630px) {
  .logo {
    position: relative;
    top: -90px;
    left: -140px;
  }
}*/

/*@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  body {
    background-color: red;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1199px) {
  .main {
    display: flex;
    justify-content: center;
  }
  .container1 {
    display: flex;
    overflow: hidden;
    background-color: rgba(248, 248, 248, 1);
  }
  .container2 {
  }
  body {
    display: flex;

    background-color: blueviolet;
  }
  img {
    max-width: 600px;
  }
}*/
